%h3.text-xs-center UnderTrack 一切尽在掌握中

.row
.col-xs-6
  .jumbotron.bg-primary
    %h1 飞一般的速度
    %p.lead
      一个项目一个独立的系统部署保证了一个项目的资源独占性，架构上保证了速度。

.col-xs-6
  .jumbotron.bg-warning
    %h1 抗干扰性
    %p.lead
      一个项目一个独立的系统部署，你只会看到一个项目的内容。
      专注产生价值，立项需谨慎。
.col-xs-6
  .jumbotron.bg-success
    %h1 安全性
    %p.lead
      安全的部署在自己掌控的机器上，不用担心商业数据泄漏
.col-xs-6
  .jumbotron.bg-info
    %h1 任务可操作性
    %p.lead
      每一个任务的时间都不能超过24个小时，强制进行任务的分解
.col-xs-6
  .jumbotron.bg-danger
    %h1 强大报表
    %p.lead
      团队成员贡献一目了然
.col-xs-6
  .jumbotron.bg-inverse
    %h1 简洁强大的设置
    %p.lead
      定制化的标签，各种分类


