
html {
  position         : relative;
  min-height       : 100%;
}
body {
  /* Margin bottom by footer height */
  margin-bottom    : 60px;
}

.footer {
  position         : absolute;
  bottom           : 0;
  width            : 100%;
  /* Set the fixed height of the footer here */
  height           : 60px;
  background-color : #f5f5f5;
}

body > .container-fluid {
  padding          : 10px 15px 0px;
}

.container-fluid .text-muted {
  margin           : 20px 0;
}

.footer > .container-fluid {
  padding-right    : 15px;
  padding-left     : 15px;
}

code {
  font-size        : 80%;
}

.head_section1{
  padding-top      : 60px;
  background-image : url('/images/go_for_future.jpg');
  height           :400px;
  width            :100%;
  color            :white;
}


.head_section1 p{
  font-size        :130%;

}

.head_section2{

  background-color : #e5e5e5;
  padding-top      : 50px;
  margin-top       :0px;
  height           :160px;
}

.register_head_section1{

  padding-top      : 30px;
  background-image : url('/images/user_register.jpeg');
  background-repeat: repeat-y;
  height           :600px;
  width            :100%;
  color            :white;


}

.login_head1{
  padding-top      : 30px;
  background-image : url('/images/air_plane.jpg');
  background-repeat: repeat-y;
  height           :600px;
  width            :100%;
  color            :white;

}


