%ul.nav.nav-tabs
  %li=link_to tag_icon(:list, pat(:list)), url(:commits, :index)
  %li.active=link_to tag_icon(:plus, pat(:new)), url(:commits, :new)

.tabs-content
  = form_for :commit, url(:commits, :create), :class => 'form-horizontal' do |f|
    =partial 'commits/form', :locals => { :f => f }
